// local styling always on (mobile & pc)
$bk-primary: black;
$bk-secondary: rgba(126, 126, 126, 0.329);

$header-color: rgb(22, 22, 22);

$icon-primary: white;
$icon-active: rgba(126, 126, 126, 0.329);

$text-primary: white;
$text-secondary: #a1a1a1;
body {
  background-color: $bk-primary;
  color: $text-primary;
}
.loading {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  h1 {
    font-size: 150px;
  }
}
.calendar-container {
  display: flex;
  width: 200px;
}

.blur > * {
  filter: blur(9px) opacity(80%) brightness(50%);
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.active {
  text-decoration-line: underline;
}
a:visited {
}

.burger-btn {
  position: fixed;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  z-index: 2;
}

// home section

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  width: 100%; // fills the rest of the container
  h1 {
    text-align: center;
  }
  // checkbox
  .MuiCheckbox-root {
    color: $icon-primary;
  }

  // delete icon
  .MuiIcon-root {
    color: $icon-primary;
  }

  .MuiIcon-root:active {
    color: $icon-active;
  }
  // temporary stuff, to test sort function
  /*
  .task-title {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    ul {
      margin: 0px;
      padding: 0px;
    }
    li {
      display: inline;
    }
  }
*/

  // todo items inside content area
  .todo-item {
    display: flex;
    min-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .todo-item > div:first-child {
    flex: 5%;
  }
  .clickable-area {
    display: flex;
    flex: 90%;
    padding-top: 10px;
    .task-done {
      color: $text-secondary;
      text-decoration: line-through;
    }
    div {
      padding-left: 5px;
      padding-right: 5px;
    }
    div:first-child {
      flex: 80%;
    }
    div:last-child {
      flex: 20%;
    }
  }
  .clickable-area:hover {
    background-color: $bk-secondary;
  }
  .todo-item > div:last-child {
    display: flex;
    flex: 5%;
    padding-top: 10px;
  }
  .add-btn {
    position: fixed;
    z-index: 2;
  }
}

.left-sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  transition: 0.5s;
  overflow-x: hidden;
  background-color: $bk-secondary;
  z-index: 1;
  .navbar {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 10px;
    .navlink {
      padding-top: 20px;
      font-size: 35px;
    }
    .navlink-home {
      font-weight: bold;
      padding-top: 20px;
      font-size: 50px;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $header-color;
  h1 {
    margin: 0;
  }
}

// for pc screen
@media only screen and (min-width: 900px) {
  .add-btn {
    height: 100px;
    width: 100px;
    bottom: 10%;
    right: 20%;
    color: black;
  }
}

// for mobile screen
@media only screen and (max-width: 900px) {
  .add-btn {
    height: 40px;
    width: 40px;
    top: 5px;
    right: 5px;
    padding: 0;
    border: none;
    background: none;
    color: white;
  }
}

.description-box > textarea {
  height: 200px;
  width: 200px;
  resize: none;
}

.dropdown-menu-container {
  position: relative;
}
.menu {
  background: #ffffff;
  position: absolute;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}
.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  border-bottom: 1px solid #dddddd;
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.folder-list-item {
  color: black;
}

// all button stylings (some look better just as text and some are replaced with images like burger, add etc..
.add-btn {
}
.burger-btn {
  padding: 0;
  border: none;
  background: none;
  color: white;
}
.folders-btn {
  padding: 0;
  border: none;
  background: none;
}
.todo-title-button {
  padding: 0;
  border: none;
  background: none;
  color: white;
}
